.titulo {
  color: #A42145 !important;
  font-family: 'Montserrat';
}

.contenedor {
  position: relative;
  display: inline-block;
  text-align: center;
}

.texto-encima {
  position: absolute;
  top: 10px;
  left: 10px;
}

@media (min-width: 992px) {
  .centrado {
    font-family: 'Montserrat';
    position: absolute;
    top: 50%;
    left: 38%;
    transform: translate(-50%, -50%);
    z-index: 10;
    font-size: 79px !important;
    padding-right: 20%;
  }
}

@media (max-width: 992px) {
  .centrado {
    font-family: 'Montserrat';
    position: absolute;
    top: 50%;
    left: 29%;
    transform: translate(-50%, -50%);
    z-index: 10;
    font-size: 4.5em;
    padding-right: 20%;
  }
}

@media (max-width: 730px) {
  .centrado {
    font-family: 'Montserrat';
    position: absolute;
    top: 50%;
    left: 24%;
    transform: translate(-50%, -50%);
    z-index: 10;
    font-size: 4.5em;
    padding-right: 20%;
  }
}

@media (max-width: 500px) {
  .centrado {
    font-family: 'Montserrat';
    position: absolute;
    top: 35%;
    left: 17%;
    transform: translate(-50%, -50%);
    z-index: 10;
    font-size: 60px !important;
    padding-right: 20%;
  }
}

.tex-w {
  color: white;
  font-family: 'Montserrat';
}

.textoh {
  color: #245c4f !important;
  font-family: 'Montserrat';
  font-weight: bold;
  text-shadow: gray 0.1em 0.1em 0.2em;
}

.textohb {
  color: #ffffff !important;
  font-family: 'Montserrat';
  font-weight: bold;
  letter-spacing: .05em;
  text-shadow: black 0.1em 0.1em 0.2em;
}

.imagend {
  /*opacity: 0.4;*/
}

.imagend:hover {
  /*opacity: 1.0;*/
}

.texflo {
}

.footer-g {
  background-color: #17533f !important;
  background-image: url(../../assets/img/textura.png);
  background-repeat: repeat;
}

.bg-m {
  background-color: #712130 !important;
  background-color: var(--primary);
}

:root {
  --primary: rgb(113, 33, 48);
  --secondary: rgb(28, 52, 45);
  --texto: #bc945a;
}

p {
  font-family: 'Montserrat';
}

button {
  margin: 10px;
  background: #A42145 !important;
  color: white !important;
}

nav {
  margin-bottom: -10px;
  margin-top: -16px;
  padding-bottom: 0px;
  background: #FFFF !important;
  color: white !important;
}

.lightbox-gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.lightbox-gallery div > img {
  max-width: 100%;
  display: block;
}

.lightbox-gallery div {
  margin: 10px;
  flex-basis: 180px;
}

@media only screen and (max-width: 480px) {
  .lightbox-gallery {
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (max-width: 480px) {
  .lightbox > div {
    margin-bottom: 10px;
  }
}

.lightbox {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  padding-top: 30px;
  box-sizing: border-box;
}

.lightbox img {
  display: block;
  margin: auto;
}

.lightbox .caption {
  margin: 15px auto;
  width: 50%;
  text-align: center;
  font-size: 1em;
  line-height: 1.5;
  font-weight: 700;
  color: #eee;
}

.tx3 {
  width: 100%;
  margin: 0 auto 0 auto;
  font-family: 'Lato', sans-serif;
  line-height: 280px;
  font-size: 11.5rem;
  padding: 80px 50px;
  text-align: center;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
}

.txth {
  margin: 50px auto;
  text-align: center;
}

.txtf {
  text-decoration: none;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  font-size: 75px;
  font-weight: 700;
  font-family: 'Exo 2';
  line-height: 0.8;
  color: lighten(var(--texto), 10%);
  text-shadow: 0 -1px 15px rgba(0,0,0,0.9), 0 1px 0 adjust-hue(darken(var(--texto), 22%), -4deg), 0 3px 0 adjust-hue(darken(var(--texto), 21%), -3deg), 0 5px 0 adjust-hue(darken(var(--texto), 20%), -3deg), 0 7px 0 adjust-hue(darken(var(--texto), 19%), -3deg), 0 9px 0 adjust-hue(darken(var(--texto), 18%), -3deg), 0 6px 50px transparentize(lighten(var(--texto), 20%), 0.2);
}

.txtf > &:first-line {
  font-size: 0.8em;
}

.txtf > &:hover {
  text-shadow: 0 -1px 15px black, 0 1px 0 adjust-hue(darken(var(--texto), 22%), -3deg), 0 2px 0 adjust-hue(darken(var(--texto), 21%), -3deg), 0 0px 0 adjust-hue(darken(var(--texto), 20%), -3deg), 0 1px 0 adjust-hue(darken(var(--texto), 19%), -3deg), 0 2px 0 adjust-hue(darken(var(--texto), 18%), -3deg), 0 2px 30px transparentize(lighten(var(--texto), 20%), 0.4);
}

